In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [5]:
df = pd.read_csv(r"C:\Users\HP\OneDrive\Desktop\B.Tech 7 Sem\AI ML\Dataset_Abusive_Tweets.csv")

In [6]:
df.head()

   Unnamed: 0  Score                                             Tweets
0           0      0                             haa jaise tum bhi abhi
1           1      2  banti hai empowered woman feminism pe gyan pel...
2           2      2  rt ab usko chhod mjse bat kr tera baap aa gya ...
3           3      2  punjab in madarchodon ko khila raha hai nokria...
4           4      2  rt agar koi bole ki ja ke chill maar to madarc...

In [11]:
df=df.iloc[:,1:]

In [15]:
df.isnull().sum()

Score      0
Tweets    97
dtype: int64

In [16]:
df.dropna(inplace=True)

In [17]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['Tweets'])

In [22]:
X.get_shape()

(3092, 7644)

In [23]:
df.shape

(3092, 2)

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, df['Score'], test_size=0.2)

In [27]:
print(X_train.shape)
print(X_test.shape)

(2473, 7644)
(619, 7644)

In [31]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier()

In [33]:
pred = rf.predict(X_test)

In [36]:
from sklearn.metrics import accuracy_score

In [37]:
accuracy_score(y_test, pred)

0.802907915993538

In [39]:
lg = LogisticRegression()
lg.fit(X_train, y_train)

pred = lg.predict(X_test)

accuracy_score(y_test, pred)

0.7802907915993538